<h1><%= @user.username %></h1>

<dl>
  <dt>Private</dt>
  <dd><%= @user.private %><dd>
  <dt>Followers</dt>
  <dd><%= @count_of_followers %><dd>
  <h4>Pending follow requests</h4>
  <% @list_of_follow_requests.each do |each_request| %>
  <ul>
    <li>
      <%= each_request.sender_id %>
    </li>
    <form action="/modify_followrequest/<%= each_request.id %>" method="post">
      <input type="hidden" name="query_recipient_id" value="<%= each_request.recipient_id  %>"> 
      <input type="hidden" name="query_sender_id" value="<%= each_request.sender_id %>"> 
      <input type="hidden" name="query_status" value="accepted"> 
      <button>Accept</button>
    </form>
    <form action="/modify_followrequest/<%= each_request.id %>" method="post">
      <input type="hidden" name="query_recipient_id" value="<%= each_request.recipient_id  %>"> 
      <input type="hidden" name="query_sender_id" value="<%= each_request.sender_id %>"> 
      <input type="hidden" name="query_status" value="rejected"> 
      <button>Reject</button>
    </form>
  </ul>
  <% end %>
  <dt>Following</dt>
  <dd><%= @count_of_following %><dd>
  <dt>Edit user</dt>
  <dd>
    <form action="/modify_user" method="post">
    <label for="browser_username">Username</label>
    <input id="browser_username" type="text" name="query_username" placeholder="Enter a username..." value="<%= @user.username %>">
    <label for="browser_private">Private?</label>
    <input id="browser_private" type="checkbox" name="query_private" value="1" <%= "checked" if @user.private %>>
    <input type="hidden" name="query_comments_count" value="<%= @user.comments_count %>"> 
    <input type="hidden" name="query_email" value="<%= @user.email %>"> 
    <input type="hidden" name="query_likes_count" value="<%= @user.comments_count %>"> 
    <input type="hidden" name="query_password" value="<%= @user.password_digest %>"> 
    <input type="hidden" name="query_password_confirmation" value="<%= @user.password_digest %>"> 
    <button>Update user</button>
    </form>
  </dd>
</dl>

<h2>Own photos (0)</h2>
<table border="1">
  <tr>
    <th> Image </th>
    <th> Owner </th>
    <th> Caption </th>
    <th> Posted </th>
    <th> Likes </th>
    <th></th>
  </tr>