<h1><%= @user.username %></h1>

<dl>
  <dt>Private</dt>
  <dd><%= @user.private %><dd>
  <dt>Followers</dt>
  <dd><%= @count_of_followers %><dd>
  <dt>Following</dt>
  <dd><%= @count_of_following %><dd>
</dl>

<ul>
  <li>
    <a href="/users/<%= @user.username %>">Profile</a>
  </li>
  <li>
    <a href="/users/<%= @user.username %>">Liked Photos</a>
  </li>
  <li>
    <a href="/users/<%= @user.username %>/feed">Feed</a>
  </li>
  <li>
    <a href="/users/<%= @user.username %>">Discover</a>
  </li>
</ul>

<h2>Feed (<%= 0 %>)</h2>
<table border="1">
  <tr>
    <th> Image </th>
    <th> Owner </th>
    <th> Caption </th>
    <th> Posted </th>
    <th> Likes </th>
    <th></th>
  </tr>
  <% @user_follow_recipients.each do |recipient| %>
    <% each_recipient_photos = Photo.where({ :owner_id => recipient.recipient_id})%>
    <% each_recipient_photos.each do |recipient_photo| %>
      <tr>
        <td>
          <img src="<%= recipient_photo.image %>">
        </td>

        <td>
          <%= User.where({ :id => recipient_photo.owner_id}).at(0).username%>
        </td>
    
        <td>
          <%= recipient_photo.caption %>
        </td>
    
        <td>
          <%= time_ago_in_words(recipient_photo.created_at) %> ago
        </td>
    
        <td>
          <%= recipient_photo.likes_count %>
        </td>
    
        <td>
          <a href="/photos/<%= recipient_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>