<h1><%= @user.username %></h1>

<dl>
  <dt>Private</dt>
  <dd><%= @user.private %></dd>
  <dt>Followers</dt>
  <dd><%= @count_of_followers %>
  <div>
    <% current_follow_status = FollowRequest.where({ :recipient_id => @user.id, :sender_id => session.fetch(:user_id) }) %>
    <% follow_status= current_follow_status.at(0)%>

    <% if follow_status == nil %>
      <form action="/insert_followrequest", method="post">
        <input type="hidden" name="query_recipient_id" value="<%= @user.id %>"> 
        <input type="hidden" name="query_sender_id" value="<%= session.fetch(:user_id) %>"> 
        <input type="hidden" name="query_status" value="accepted"> 
        <button> Follow </button>
      </form>
    <% else %>
      <a href="/delete_followrequest/<%= follow_status.id %>">
        Unfollow
      </a>
    <% end %>
  </div>
  </dd>
  <dt>Following</dt>
  <dd><%= @count_of_following %></dd> 
</dl>

<ul>
  <li>
    <a href="/users/<%= @user.username %>">Profile</a>
  </li>
  <li>
    <a href="/users/<%= @user.username %>">Liked Photos</a>
  </li>
  <li>
    <a href="/users/<%= @user.username %>">Feed</a>
  </li>
  <li>
    <a href="/users/<%= @user.username %>">Discover</a>
  </li>
</ul>

<h2>Own photos (<%= @photos_count %>)</h2>
<table border="1">
  <tr>
    <th> Image </th>
    <th> Owner </th>
    <th> Caption </th>
    <th> Posted </th>
    <th> Likes </th>
    <th></th>
  </tr>
  <% @user_photos.each do |photo| %>
    <tr>
      <td>
        <img src="<%= photo.image %>">
      </td>

      <td>
        <%= User.where({ :id => photo.owner_id}).at(0).username%>
      </td>
    
      <td>
        <%= photo.caption %>
      </td>
    
      <td>
        <%= time_ago_in_words(photo.created_at) %> ago
      </td>
    
      <td>
        <%= photo.likes_count %>
      </td>
    
      <td>
        <a href="/photos/<%= photo.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>