<h1>List of photos</h1>

<form action="/insert_photo" method="post" enctype="multipart/form-data">
  <label for="browser_input">Image</label>
  <input id="browser_input" type="file" name="query_image" placeholder="Enter a URL for the image...">

  <label for="browser_caption">Caption</label>
  <textarea id="browser_caption" name="query_caption" placeholder="Enter a caption for the photo..."></textarea>

  <input type="hidden" name="query_comments_count" value="0"> 
  <input type="hidden" name="query_likes_count" value="0"> 
  <input type="hidden" name="query_owner_id" value="<%= session.fetch(:user_id) %>"> 

  <button>Add photo</button>
</form>


<table border="1">
  <tr>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted</th>
    <th>Likes</th>
    <th></th>
  </tr>

  <% @non_private_users.each do |each_user| %>
    <%list_of_photos = Photo.where(:owner_id => each_user.id)%>
    <% list_of_photos.each do |photo| %>
      <tr>
        <td>
          <img src="<%= photo.image %>">
        </td>
    
        <td>
          <%= photo.caption %>
        </td>
    
        <td>
          <%= User.where({ :id => photo.owner_id}).at(0).username%>
        </td>
    
        <td>
          <%= time_ago_in_words(photo.created_at) %> ago
        </td>
    
        <td>
          <%= photo.likes_count %>
        </td>
    
        <td>
          <a href="/photos/<%= photo.id %>">
            Show details
          </a>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>